/* Cassian - Bit Phoenix theme dark theme
 * Written by Michael VanOverbeek.
 */

@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');

/* Bit Phoenix brand colors */
$bitphoenix: #FF6A00;
$peaceful: #1BAAF7;
$blood: #F71B1B;
$fire: #F7941B;
$noir: #454545;
$serenity: #2CD31D;
$sky: #01DFD7;
$faint: #D8D8D8;
$insomnia: #222222;

/* accent color overrides */
$white: #fff;
$primary: $bitphoenix;
$secondary: $peaceful;
$success: $serenity;
$warning: $fire;
$danger: $blood;
$info: $sky;
$dark: $noir;
$light: $faint;

/* options */
$enable-shadows: true;

/* body */
$body-bg: $insomnia;
$body-color: $faint;

/* links */
$link-hover-decoration: none;

/* Typography */
$headings-font-family: 'Jura', sans-serif;
$headings-color: $primary;

/* Forms */
$input-font-family: monospace;
$input-bg: $body-bg;
$input-disabled-bg: transparent;
$input-color: $body-color;
$input-border-color: $dark;
$input-focus-color: $white;
$input-focus-border-color: $primary;

/* Navs */
$nav-tabs-border-color: $dark;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $dark;
$nav-tabs-link-active-border-color: $dark;
$nav-tabs-link-hover-border-color: $dark;

/* Dropdowns */
$dropdown-bg: $dark;
$dropdown-divider-bg: $primary;
$dropdown-link-color: $faint;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$dropdown-header-color: $primary;

/* jumbotron */
$jumbotron-bg: $dark;
$jumbotron-color: $faint;

/* Cards */
$card-bg: transparent;
$card-color: $faint;

/* modals */
$modal-content-bg: $dark;
$modal-header-border-color: lighten($dark, 20%);
$modal-footer-border-color: lighten($dark, 20%);
$close-color: $faint;

/* Alerts */
$alert-bg-level: 6;
$alert-border-level: 5;
$alert-color-level: -10;

/* Code */
$code-color: $primary;
$pre-color: $faint;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

/* style overrides: */
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

pre>code {
    display: block;
    border-radius: 3px;
    padding: 4px;
    background: darken($dark, 33.3%);
}

/* Markdown editor toolbar */
.editor-toolbar {
    background: $dark;
    border: 1px solid $dark;
    border-radius: 3px;
    opacity: 1.0 !important;

    a {
        color: darken($faint, 20%) !important;
        
        &:hover {
            color: $white !important;
            background: $link-color;
            border: 1px solid $link-color;
        }
        &:active {
            color: $white !important;
            background: $link-hover-color;
            border: 1px solid $link-hover-color;
        }
        &.active {
            color: $white !important;
            background: transparent;
            border: 1px solid transparent;
        }
    }
}

/* CodeMirror styles */
.CodeMirror-wrap {
    background: $body-bg;
    color: $body-color;
    border: 1px solid $dark;
}

.CodeMirror {
    .cm-header {
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
        color: $headings-color;
        text-transform: uppercase;
        line-height: $headings-line-height;

        .cm-header-1 {
            font-size: $h1-font-size;
        }
        .cm-header-2 {
            font-size: $h2-font-size;
        }
        .cm-header-3 {
            font-size: $h3-font-size;
        }
        .cm-header-4 {
            font-size: $h4-font-size;
        }
        .cm-header-5 {
            font-size: $h5-font-size;
        }
        .cm-header-6 {
            font-size: $h6-font-size;
        }
    }

    .CodeMirror-selected {
        background: $dark;
    }
    .CodeMirror-cursor {
        color: $faint;
        background: $faint;
        border: 1px solid $faint;
    }
}